## Section 2

In [1]:
import pandas as pd

df_articles = pd.read_csv('shared_articles.csv', index_col='contentId')
df_users = pd.read_csv('users_interactions.csv')

In [2]:
display(df_users.head())
df_articles.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN

,timestamp,eventType,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
contentId,,,,,,,,,,,,
-6451309518266745024,1459192779,CONTENT REMOVED,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
-4110354420726924665,1459193988,CONTENT SHARED,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
-7292285110016212249,1459194146,CONTENT SHARED,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
-6151852268067518688,1459194474,CONTENT SHARED,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
2448026894306402386,1459194497,CONTENT SHARED,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [3]:
print('Min:\t\t', df_users['personId'].value_counts().min())
print('Quartile 1:\t', df_users['personId'].value_counts().quantile(.25))
print('Median:\t\t', df_users['personId'].value_counts().quantile(.5))
print('Quartile 3:\t', df_users['personId'].value_counts().quantile(.75))
print('Max:\t\t', df_users['personId'].value_counts().max())

Min:		 1
Quartile 1:	 3.0
Median:		 10.0
Quartile 3:	 32.0
Max:		 1885

In [4]:
value_counts = df_users.contentId.value_counts()
keep_list = value_counts[value_counts >= 9]
df_users_reduced = df_users.loc[df_users.contentId.isin(keep_list.index)]

In [5]:
df_users_reduced["eventType"] = df_users_reduced["eventType"].replace({
    "VIEW": 1,
    "LIKE": 2,
    "FOLLOW": 3,
    "BOOKMARK": 4,
    "COMMENT CREATED": 5
})

/var/folders/89/ddk09q_13q5dxg5njh_qm7p40000gn/T/ipykernel_40414/1775957036.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_users_reduced["eventType"] = df_users_reduced["eventType"].replace({
/var/folders/89/ddk09q_13q5dxg5njh_qm7p40000gn/T/ipykernel_40414/1775957036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_users_reduced["eventType"] = df_users_reduced["eventType"].replace({

In [6]:
import numpy as np
from scipy.sparse import csr_matrix

# Count the number of users and movies so that we know columns x rows
U = df_users_reduced['personId'].nunique()
I = df_users_reduced['contentId'].nunique()

# Maps the existing user and item IDs to a set of consequtive integers (0, 1, 2, 3)
user_mapper = dict(zip(np.unique(df_users_reduced['personId']), list(range(U))))
item_mapper = dict(zip(np.unique(df_users_reduced['contentId']), list(range(I))))
# Reverse the mapping for later retrieval of recommended items
user_inv_mapper = dict(zip(list(range(U)), np.unique(df_users_reduced['personId'])))
item_inv_mapper = dict(zip(list(range(I)), np.unique(df_users_reduced['contentId'])))

# Create a list of userIds and itemIds for every time a rating appears
user_index = [user_mapper[i] for i in df_users_reduced['personId']]
item_index = [item_mapper[i] for i in df_users_reduced['contentId']]

X = csr_matrix((df_users_reduced['eventType'], (item_index, user_index)), shape=(I, U))
print(X)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 37601 stored elements and shape (1967, 1880)>
  Coords	Values
  (0, 225)	2
  (0, 332)	9
  (0, 827)	17
  (0, 1133)	15
  (0, 1852)	4
  (1, 2)	3
  (1, 130)	1
  (1, 209)	3
  (1, 553)	1
  (1, 933)	1
  (1, 938)	4
  (1, 1140)	3
  (1, 1225)	15
  (1, 1487)	1
  (1, 1520)	1
  (2, 40)	1
  (2, 159)	1
  (2, 197)	1
  (2, 333)	1
  (2, 628)	1
  (2, 648)	1
  (2, 816)	11
  (2, 900)	1
  (2, 928)	4
  (2, 995)	1
  :	:
  (1966, 235)	1
  (1966, 302)	1
  (1966, 305)	4
  (1966, 399)	3
  (1966, 784)	5
  (1966, 795)	1
  (1966, 902)	1
  (1966, 970)	1
  (1966, 1070)	1
  (1966, 1127)	1
  (1966, 1211)	1
  (1966, 1238)	1
  (1966, 1253)	5
  (1966, 1309)	1
  (1966, 1324)	1
  (1966, 1333)	1
  (1966, 1372)	3
  (1966, 1393)	3
  (1966, 1394)	1
  (1966, 1515)	1
  (1966, 1585)	1
  (1966, 1715)	6
  (1966, 1819)	3
  (1966, 1859)	1
  (1966, 1873)	2

In [7]:
def create_matrix(df, user, item, rating):
  import numpy as np
  from scipy.sparse import csr_matrix

  U = df[user].nunique()  # Number of users for the matrix
  I = df[item].nunique()  # Number of items for the matrix

  # Map user and movie IDs to matrix indices
  user_mapper = dict(zip(np.unique(df[user]), list(range(U))))
  item_mapper = dict(zip(np.unique(df[item]), list(range(I))))

  # Map matrix indices back to IDs
  user_inv_mapper = dict(zip(list(range(U)), np.unique(df[user])))
  item_inv_mapper = dict(zip(list(range(I)), np.unique(df[item])))

  # Create a list of index values for the csr_matrix for users and movies
  user_index = [user_mapper[i] for i in df[user]]
  item_index = [item_mapper[i] for i in df[item]]

  # Build the final matrix which will look like: (movieId, userId) rating
  X = csr_matrix((df[rating], (item_index, user_index)), shape=(I, U))

  return X, user_mapper, item_mapper, user_inv_mapper, item_inv_mapper

In [8]:
X, user_mapper, item_mapper, user_inv_mapper, item_inv_mapper = create_matrix(df_users_reduced, 'personId', 'contentId', 'eventType')

In [9]:
def recommend(itemId, X, item_mapper, item_inv_mapper, k, metric='cosine', messages=True):
  from sklearn.neighbors import NearestNeighbors

  rec_ids = []                # Make a list for the recommended item IDs we'll get later
  item = item_mapper[itemId]  # Get the index of the movie ID passed into the function
  item_vector = X[item]       # Get the vector of user ratings for the movie ID passed into the function

  # Fit the clustering algorithm based on the user-item matrix X
  knn = NearestNeighbors(n_neighbors=k+1, algorithm="brute", metric=metric).fit(X)

  # Call the trained knn cluster model to return the nearest neighbors of the item_vector passed in
  rec = knn.kneighbors(item_vector.reshape(1,-1), return_distance=True)
  rec_indeces = rec[1][0]     # Parse out the list of indeces of the recommended items
  rec_distances = rec[0][0]   # Parse out the recommendation strength calculated as the distance from the cluster center
  rec_distances = np.delete(rec_distances, 0) # Drop the first number in the list because it is the distance of itemId from itself

  # We need to replace the recommended item indeces with their original item IDs
  for i in range(1, knn.n_neighbors): # n_neighbors is the number of neighbors to return
    rec_ids.append(item_inv_mapper[rec_indeces[i]])

  # It may help to see what this is. The distance list is first and the recommended item indeces are second
  if messages:
    print(f'List of recommended item indeces:\n{rec_indeces}\n')
    print(f'List of recommended item IDs:\n{rec_ids}\n')
    print(f'List of recommended item similarity to selected item:\n{rec_distances}\n')

  # Return two lists: the original item IDs of the recommendations and their similarity scores
  return rec_ids, rec_distances

content_Id = 8890720798209849691
rec_ids, rec_distances = recommend(content_Id, X, item_mapper, item_inv_mapper, k=10, messages=False)

print(f"If you like {df_articles.loc[content_Id, 'title']}, you may also enjoy:\n")
df_articles.loc[rec_ids, 'title']

If you like Top 10 Intranet Trends of 2016, you may also enjoy:

contentId
 8878031598946138458    Inbox by Gmail now helps you track calendar ev...
 1002673045600956890                     Amazon founder: A.I.'s impact is
-7380550029266431533    Extreme Style Machines:Using Random Neural Net...
 786135087362634258               Why Steve Jobs Was Proud to Steal Ideas
-6467708104873171151    5 reasons your employees aren't sharing their ...
 1698483880714927645    Google's AI engine is reading 2,865 romance no...
-3750879736572068916    No, Apple isn't the next BlackBerry - it's the...
-4483059513836093676    Grow fast or die slow: Focusing on customer su...
 7813943820850065086    Twitter adds a button to help you train its al...
-8819557474068526071       Good Software Takes Ten Years. Get Used To it.
Name: title, dtype: object

In [10]:
user_id = -1130272294246983140
k = 20

df_user_ratings = df_users_reduced.loc[df_users_reduced['personId']==user_id].sort_values(by=['eventType'], ascending=False)
max_rating = df_user_ratings.eventType.max()
df_user_ratings = df_user_ratings.loc[df_user_ratings.eventType==max_rating]

df_rec_list = pd.DataFrame(columns=['Distance'])

for i in df_user_ratings.contentId:
  rec_ids, rec_distances = recommend(i, X, item_mapper, item_inv_mapper, k=10, messages=False)
  for j, movie in enumerate(rec_ids):
    df_rec_list.loc[movie] = rec_distances[j]

df_rec_list.sort_values(by=['Distance'])

                      Distance
 2695065703077082407  0.234446
 4891164246772479976  0.252567
-8018088591294066196  0.259000
 6237433897543964784  0.317115
-6878119266243511199  0.317863
-6347212504547574224  0.322596
 2901480192726556992  0.386137
 1002673045600956890  0.397296
 2736373711035411385  0.404399
-7820640624231356730  0.406866
 2625883933130361261  0.411260
 7804826445069770894  0.427634
-8245663037926520114  0.450649
-7891960098457323262  0.473807
-8800029253812071912  0.477299
 9207286802575546269  0.499781
 3320201327008235211  0.502078
 2841458704671711663  0.504624
 2602738827388230683  0.505648
-2252459228396350242  0.506362
 2917561522815946740  0.507184
 7395435905985567130  0.511984
 4153717385931831462  0.517596
-3537777320523757545  0.525599
-6820241302436968068  0.530187
 1556878199027930272  0.531021
 3460026829794173084  0.536579
 2910288655685129221  0.539218
 3618205920179577598  0.539729
 5688279681867464747  0.548031
 8770410950539401126  0.550740
-1196068832249300490  0.568602
 3241240229241793423  0.573794
-9161596996229760398  0.575399
 6754417485681598974  0.584887

### Deployment

*Option 1*

In [11]:
      # Create a function to fit the cluster model; allow the caller to specify the matrix, k, and metric
def fit_cluster(X, k, metric='cosine'):
  from sklearn.neighbors import NearestNeighbors
  
  # Fit the clustering algorithm based on the user-item matrix X
  knn = NearestNeighbors(n_neighbors=k+1, algorithm="brute", metric=metric).fit(X)
  return knn
  
# These functions for deployment are the same ones we created and use earlier: lg3sz
def dump_pickle(model, model_collaborative_filtering):
  import pickle
  pickle.dump(model, open(model_collaborative_filtering, "wb"))
  
def load_pickle(model_collaborative_filtering):
  import pickle
  model = pickle.load(open(model_collaborative_filtering, "rb"))
  return model

In [12]:
def recommend_light(itemId, knn, item_mapper, item_inv_mapper, messages=True):
        rec_ids = []                # Make a list for the recommended item IDs we'll get later
        item = item_mapper[itemId]  # Get the index of the movie ID passed into the function
        item_vector = X[item]       # Get the vector of user ratings for the movie ID passed into the function
        
        # Call the trained knn cluster model to return the nearest neighbors of the item_vector passed in
        rec = knn.kneighbors(item_vector.reshape(1,-1), return_distance=True)
        rec_indeces = rec[1][0]     # Parse out the list of indeces of the recommended items
        rec_distances = rec[0][0]   # Parse out the recommendation strength calculated as the distance from the cluster center
        rec_distances = np.delete(rec_distances, 0) # Drop the first number in the list because it is the distance of itemId from itself
        
        # We need to replace the recommended item indeces with their original item IDs
        for i in range(1, knn.n_neighbors): # n_neighbors is the number of neighbors to return
          rec_ids.append(item_inv_mapper[rec_indeces[i]])
          
        # It may help to see what this is. The distance list is first and the recommended item indeces are second
        if messages: 
          print(f'List of recommended item indeces:\n{rec_indeces}\n')
          print(f'List of recommended item IDs:\n{rec_ids}\n')
          print(f'List of recommended item similarity to selected item:\n{rec_distances}\n')
        
        # Return two lists: the original item IDs of the recommendations and their similarity scores
        return rec_ids, rec_distances

In [ ]:
# Train and store the model
# knn = fit_cluster(X, k=10)
# dump_pickle(knn, 'knn.pkl')

In [15]:
k = 5

df_recommendations = pd.DataFrame(columns=['If you enjoyed'], index=item_mapper)
for i in range(1, (k + 1)):
  df_recommendations[f'Recommendation {i}'] = None

for row in df_recommendations.itertuples():
  rec_ids, rec_distances = recommend(row[0], X, item_mapper, item_inv_mapper, k=k, messages=False)

  df_recommendations.at[row[0], 'If you enjoyed'] = df_articles.at[row[0], 'title']

  for i, r in enumerate(rec_ids):
    df_recommendations.at[row[0], f"Recommendation {i + 1}"] = df_articles.at[r, 'title']

df_recommendations
df_recommendations.to_csv('news_collaborative_recommendations.csv', index=False)

#  # How many recommendations per movie would you like?
#       k = 5
        
#       # Get a list of recommendations for all movies; you can store this list as a "trained model" of sorts
#       df_recommendations = pd.DataFrame(columns=['If you watched'], index=item_mapper)
#       for i in range(1, k):
#         df_recommendations[f'Recommendation {i}'] = None
        
#       for row in df_recommendations.itertuples():
#         # Get a ranked list of recommendati ons
#         rec_ids, rec_distances = recommend(row[0], X, item_mapper, item_inv_mapper, k=k, messages=False)
        
#         # Get the title of the 'watched' movie in this row
#         df_recommendations.at[row[0], 'If you watched'] = df_movies.at[row[0], 'title']
          
#         # Get the titles of the recommended movies
#         for i, r in enumerate(rec_ids):
#           df_recommendations.at[row[0], f'Recommendation {i+1}'] = df_movies.at[r, 'title']
        
#       # Store df_recommendations in an operational DB.
#       # 
#       # from sqlalchemy import create_engine
#       # engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
#       #                       .format(user="root",
#       #                               pw="12345",
#       #                               db="employee"))
#       # df_recommendations.to_sql('book_details', con = engine, if_exists = 'append', chunksize = 1000)
        
#       df_recommendations.tail()